*, ::before, ::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-size: 12px;
   font-family: 'Lexend Deca', 'Big Shoulders Display';
}

h1{
   text-align: center;
   font-size: 1.76em;
}

header{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: hsl(0, 0%, 95%);
   padding: 10px;
}

ul{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: hsl(0, 0%, 95%);
   border-radius: 10px;
   margin-top: 5px;
}

li, a{
   list-style-type: none;
   padding: 15px;
text-decoration: none;
}

.box-wrapper{
   display: flex;
}

.box{
   display: flex;
   flex-direction: column;
   padding: 10px;
   align-items: flex-start;
   color: #fff;
}

h2, p, button{
   margin: 20px;
}

button{
   border-radius: 20px;
   padding: 7px;
   border: none;
}

.box.sedan{
   background: hsl(31, 77%, 52%);
}

.box.suvs{
   background: hsl(184, 100%, 22%);
}

.box.luxury{
   background: hsl(179, 100%, 13%);
}

.box h2{
   color: hsl(0, 0%, 95%);
}

.box p{
   color: hsla(0, 0%, 100%, 0.75);
}

button{
   background: hsl(0, 0%, 95%);
}

.sedan button{
   color: hsl(31, 77%, 52%);
}

.suvs button{
   color: hsl(184, 100%, 22%);
}

.luxury button{
   color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 480px) {
.box{
flex-direction: column;
}
}

/* Grid Section */

.grid-wrapper{
   display: grid;
   gap: .123em;
   width: 40%;
   margin: 10px auto;
   height: fit-content;
   background: rgb(1, 17, 17);
   padding: 10px 55px 15px 10px;
}

.orangered{
   background-color: orangered;
   grid-area: 1/1/20/5;
}

.orange{
   background: orange;
   grid-area: 1/5/20/7;
}

.green{
   background: rgb(26, 107, 26);
   grid-area: 20/1/30/4;
}

.blue{
   background: rgb(41, 169, 219);
   grid-area: 20/4/25/7;
}

.blue2{
   background: rgb(41, 169, 219);
   grid-area: 25/4/30/7;
}
