*, ::before, ::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*, html{
   font-size: 13pt;
   /* background: rgb(218, 214, 214); */
}

.box-wrapper{
   display: flex;
}

.box{
   display: flex;
   flex-direction: column;
   padding: 10px;
   align-items: flex-start;
   /* border: 1px solid #000; */
}

h2, p, button{
   margin: 20px;
}

button{
   border-radius: 20px;
   padding: 7px;
   border: none;
}

.box.sedan{
   background: red;
}

.box.suvs{
   background: blue;
}

.box.luxury{
   background: green;
}

/* Grid Section */

.grid-wrapper{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: .123em;
   width: 70%;
   margin: auto;
   /* padding: 5px; */
}

.orange{
   background-color: orangered;
   grid-area: 1/1/10/5;
}

.yellow{
   background: yellow;
   grid-area: 1/5/10/7;
}

.green{
   background: green;
   grid-area: 10/1/20/4;
}

.blue{
   background: blue;
   grid-area: 10/4/15/7;
}

.blue2{
   background: burlywood;
   grid-area: 15/4/20/7;
}