*, ::before, ::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*, html{
   font-size: 13pt;
   /* background: rgb(218, 214, 214); */
}

.box-wrapper{
   display: flex;
}

.box{
   display: flex;
   flex-direction: column;
   padding: 10px;
   align-items: flex-start;
}

h2, p, button{
   margin: 20px;
}

button{
   border-radius: 20px;
   padding: 7px;
   border: none;
}

.box.sedan{
   background: red;
}

.box.suvs{
   background: blue;
}

.box.luxury{
   background: green;
}

/* Grid Section */

.grid-wrapper{
   display: grid;
   gap: .123em;
   width: 70%;
   margin: 10px auto;
   height: fit-content;
}

.orangered{
   background-color: orangered;
   grid-area: 1/1/20/5;
}

.orange{
   background: orange;
   grid-area: 1/5/20/7;
}

.green{
   background: rgb(26, 107, 26);
   grid-area: 20/1/30/4;
}

.blue{
   background: rgb(41, 169, 219);
   grid-area: 20/4/25/7;
}

.blue2{
   background: rgb(41, 169, 219);
   grid-area: 25/4/30/7;
}